<!DOCTYPE html>
    <head>
        <title>Hola mundo</title>
    </head>    
    <body>
        <% include partials/navigation.ejs%>
        <h1>Hola mundo con Express y EJS</h1>
        
    </body>
    </head>
</html>